<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="lib/angular/angular-sanitize.min.js"></script>
<link rel="stylesheet" href="view2/view2.css">  
<div>
        <p>
                Search:
                <input name="search" placeholder="Search" ng-model="search" required/>
                <input name="page" placeholder="Number of image" ng-model="page" required/>
                <input type="button" ng-click="Search()" value="Search">
                <input type="button" ng-click="nextPage()" value="Next page">
                <p>Total image in this page: {{length}}</p>
        </p>
</div>
<!-- <img ng-src="{{photo.thumb}}" ng-repeat="photo in photos | limitTo:page" /> -->

<div class="gridywrap">
  <div>
  <div class="gridy-{{photo.number1}} gridyhe-{{photo.number2}}" ng-repeat="photo in photos | limitTo:page">
    <div class="gridimg" style="background-image: url({{photo.regular}})">&nbsp;</div>
    
    <div class="gridinfo">
      <h3>{{search}}</h3>
      <div class="gridmeta">
        <p class="gridwhen"><i class="fa fa-clock-o"></i>{{photo.upload_date}}</p>
        <p class="gridwho"><i class="fa fa-user"></i>{{photo.username}}</p>
      </div>
      <p class="gridexerpt">{{photo.description}}</p>
      <a href="#!/view2" class="grid-btn grid-more" ng-click="changeState(photo.id)"><span>More</span> <i class="fa fa-plus"></i></a>
    </div>
  </div>
</div>
</div>
